.logocont{
    padding: 5px;
}

.company {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Modulus Pro', sans-serif; /* Updated font-family */
    font-size: 40px;
    font-weight: 600; /* Updated font-weight for Semi Bold, if 600 is the correct weight for Modulus Pro Semi Bold */
    color: #4176a8;
    transform: translateY(-20px);
}


.Webshop input{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-size: 25px;
    vertical-align: middle;
    padding: 10px;
    padding-left: 15px;
    margin-top: 20px;
    margin-bottom: 25spx;
    height: 45px;
    border-radius: 5px;
    border-width: 1px;
    width: 330px;
}