/* Import Publica Play font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Publica+Play&display=swap');

.header-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.logo-image {
    height: 50px;
    width: auto;
    margin-right: 30px;
}

.company {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Publica Play', sans-serif; /* Apply Publica Play font */
    font-size: 32px;
    font-weight: 600;
    color: #2982d5;
    margin-left: -15px; 
}
